.contacto{
    width: 100%;
    background-color: #0000000a;
    padding-bottom: 3rem;
}
.contacto-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.contacto-card{
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    justify-content: center;
    padding: 40px;
    border-radius: 1rem;
}
.contacto-card svg{
    color: var(--first-color);
    font-size: 50px;
}
.contacto-card span{
    text-align: center;
}
.contacto-socialmedia{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.contacto-socialmedia svg{
    font-size: 25px;
    cursor: pointer;
}
@media (max-width:460px){
    .contacto-box {
        flex-direction: column;
    }
}