.acerca {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.acerca-box {
    width: 80%;
    height: 80%;
    background: var(--white-alpha-color);
    display: grid;
    grid-template-rows: 1fr 10%;
    border-radius: 1rem;
}

.acerca-box div{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.acerca-box-photo{
    background: aqua;
    width: 30%;
    height: 85%;
    border-radius: 1rem;
}
.acerca-box-photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}
.acerca-box-presentation{
    padding: 2rem;
    width: 50%;
    height: 85%;
    border-radius: 1rem;
}
.btn-cv {
    margin: auto;
}