.header {
    width: 100%;
    height: 60px;
    position: fixed;
}

.header-box {
    width: 100%;
    height: 100%;
    background-color: var(--second-color);
    display: flex;
    align-items: center;
}

.header-box-logo {
    margin-left: 1rem;
    color: var(--first-color);
}

.header-box-sections {
    display: flex;
    gap: 1rem;
    position: absolute;
    right: 1rem;
}

.header-box-sections h3{
    cursor: pointer;
}
.header-box-sections h3 a {
    color: var(--first-color);
    transition: all 0.5s ease-out;
    text-decoration: none;
}
.header-box-sections h3 a:hover {
    color: var(--white-color);
}

.header-box-sections h3:hover{
    cursor: pointer;
    color: var(--white-color);
}