/* ********* Custom Properties ********* */
:root {
    --first-color: #4E9F3D;
    --first-alpha-color: rgba(78,159,61,0.25);
    --second-color: #1A2231F0;
    --third-color: ;
    --white-color: #fff;
    --white-alpha-color: rgba(255,255,255,0.5);
    --black-color: #000;
    --black-alpha-color: rgba(0,0,0,0.5);
    --link-color: #509ee3;
    --title-color: #333;
    --text-color: #222;
    --font: "Raleway", sans-serif;
}

/* ********* Reset ********* */
html {
    box-sizing: border-box;
    font-family: var(--font);
    font-size: 16px;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body{
    margin: 0px;
    overflow-x: hidden;
}

a:hover {
  opacity: 0.75;
}

button{
  width: 200px;
  height: 50px;
  background-color: var(--first-color);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  color: var(--white-color);
}

h1{
    margin: 0;
    font-size: 2rem;
}

h2{
  margin: 0;
  font-size: 1.5rem;
}

h3{
  margin: 0;
  font-size: 1.5rem;
}
h4{
  margin: 0;
  font-size: 1.3rem;
}

p {
  font-size: 1.2rem;
}

span {
  font-size: 1rem;
}

/* ********* Components ********* */

.title {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
  margin-bottom: 60px;
  margin-top: 20px;
}

.title div {
  width: 200px;
  height: 2px;
  background: var(--first-color);
}

.title h2 {
  margin: 10px;
  color: var(--first-color);
}

/* ********* Utilities ********* */

.app{
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.box-shadow-1{
    box-shadow: 0.25rem 0.25rem 1rem rgba(0,0,0,0.25);
}

.box-shadow-2{
    box-shadow: 0.25rem 0.25rem 1rem rgba(0,0,0,0.5);
}

